$negro:#060A24;
$azul:#0000EC;
$blanco:#FFFFFF;

header{
    width: 100%;
    margin: 0;
  
    
    .logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $blanco;
    
        img{
            width: 24px;
            height: 24px;
            margin-left: 16px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        label{
            margin-right: 19px;
            margin-top: 16px;
            margin-bottom: 16px;
        }

       
    }

    /*Ocultar Checkbox*/
    #btnmenu{
            display: none;
            overflow: hidden;
    }
    
    /*Ocultar menu*/
    #btnmenu ~ .menulist {
        display: none;
        overflow: hidden;
    }
    #btnmenu:checked ~ .menulist {
        display: block;
    }

    /*Cambio de icono del menu*/
    #btnmenu:checked ~ div #equis{
        display: block;
    }

    #btnmenu:checked ~ div #hamburguesa{
        display: none;
    }

    #btnmenu ~ div #equis{
        display: none;
    }

    #btnmenu ~ div #hamburguesa{
        display: block;
    }
    
    .menulist{

        position: absolute;
        width: 100%;
        height: 224px;
        transition: right 1s;
        background-color: $azul;
        margin:0;
      
        ul{
            display: flex;
            flex-direction: column;
            list-style: none;
            padding-left:16px;
            padding-top: 16px;
            margin: 0;
                   
            a:first-child{
                display: block;
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }

            a{
            display: block;
            color:$blanco;
            font-family: 'IBM Plex Mono';
            font-size: 16px;
            letter-spacing: 0;
            box-sizing: border-box;
            line-height: 28px;
            padding-top:24px ;
            margin: 0;
            text-decoration: none;
            }

            a:last-child{
                display: block;
                box-sizing: border-box;
                padding-bottom: 24px;
                margin: 0;
            }
        }


    }

}

/*IPAD*/
@media only screen and (min-width: 768px) {

    header{
        width: 100%;
        margin: 0;  
                    
        .logo{        

            img{
                display: block;
                width: 36px;
                height: 36px;
                margin-left: 100px;
                margin-top: 22px;
            }

            label{
                display: none;
            }
            
        }

        /*Ocultar checkbox y menu*/
        #btnmenu ~ .menulist {
            display: block;
        }
        #btnmenu:checked ~ .menulist {
            display: block;
        }

         /*Ocular icono del menu*/
        #btnmenu:checked ~ div #equis{
        display: none;
        }

        #btnmenu:checked ~ div #hamburguesa{
        display: none;
        }

        #btnmenu ~ div #equis{
        display: none;
        }

        #btnmenu ~ div #hamburguesa{
        display: none;
        }

       
        .menulist{
            background-color: $blanco;
           

            ul{
                display: block;
                margin: 0;
                       
                a:first-child{
                    display: block;
                    box-sizing: border-box;
                    margin: 0;
                    padding: 0;
                }
    
                a{
                display: block;
                color:$negro;
                font-family: 'IBM Plex Mono';
                font-size: 16px;
                letter-spacing: 0;
                box-sizing: border-box;
                line-height: 28px;
                padding-top:24px ;
                margin: 0;
                text-decoration: none;
                }
    
                a:last-child{
                    display: block;
                    box-sizing: border-box;
                    padding-bottom: 24px;
                    margin: 0;
                }
            }
    
    
        }

    }


}







