$negro2:#060A24;
$menta:#00F3BB;
$blanco2:#FFFFFF;
$blue:#0000EC;


main{
    width: 100%;
    margin: 0;

 
}

/*IPAD*/
@media only screen and (min-width: 768px) {
    
    main{
        width: 100%;
        margin: 0;
        overflow: visible;

        
    }
}