.novedades{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 341px;
    margin-top: 64px;
    h2{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 36px;
        font-weight: 400;
        color: $blanco2;
        letter-spacing: 0;
        text-align: center;
        line-height: 42px;
        margin-right: 16px;    
    }
    button{
        width: 90%;
        height: 48px;
        align-items: center;
        color:$negro2;
        background-color: $menta;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 16px;
        letter-spacing: 0;
        text-align: center;
        line-height: 22px;
        border: 0;
        margin-top: 36px;    
    }
    button:hover{
        background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
        color: $blanco2;
        border:0;    
    }
}

.novedades:after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform-origin: top right;
    transform: skewY(-5deg);
    z-index: -1;
} 

/*IPAD*/
@media only screen and (min-width: 760px) {

    .novedades{
        margin-top: 0;
        height: 390px;
       
        h2{
            margin-top: 50px;
            font-size: 45px; 
            font-weight: 400;    
        }
        button{
            width: 30%;
            height: 48px;
            font-size: 14px;    
        } 
    }
}

//Desktop
@media only screen and (min-width: 1000px) {

    .novedades{

        height: 518px;
       
        h2{
            margin-top: 100px;
            font-size: 48px;    
        }
        button{
            font-size: 18px;    
        } 
    }
}