@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,500;1,100&display=swap");
body {
  margin: 0;
}

header {
  width: 100%;
  margin: 0;
  /*Ocultar Checkbox*/
  /*Ocultar menu*/
  /*Cambio de icono del menu*/
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
}

header .logo img {
  width: 24px;
  height: 24px;
  margin-left: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

header .logo label {
  margin-right: 19px;
  margin-top: 16px;
  margin-bottom: 16px;
}

header #btnmenu {
  display: none;
  overflow: hidden;
}

header #btnmenu ~ .menulist {
  display: none;
  overflow: hidden;
}

header #btnmenu:checked ~ .menulist {
  display: block;
}

header #btnmenu:checked ~ div #equis {
  display: block;
}

header #btnmenu:checked ~ div #hamburguesa {
  display: none;
}

header #btnmenu ~ div #equis {
  display: none;
}

header #btnmenu ~ div #hamburguesa {
  display: block;
}

header .menulist {
  position: absolute;
  width: 100%;
  height: 224px;
  -webkit-transition: right 1s;
  transition: right 1s;
  background-color: #0000EC;
  margin: 0;
}

header .menulist ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding-left: 16px;
  padding-top: 16px;
  margin: 0;
}

header .menulist ul a:first-child {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header .menulist ul a {
  display: block;
  color: #FFFFFF;
  font-family: 'IBM Plex Mono';
  font-size: 16px;
  letter-spacing: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 28px;
  padding-top: 24px;
  margin: 0;
  text-decoration: none;
}

header .menulist ul a:last-child {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 24px;
  margin: 0;
}

/*IPAD*/
@media only screen and (min-width: 768px) {
  header {
    width: 100%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    /*Ocultar checkbox y menu*/
    /*Ocular icono del menu*/
  }
  header .logo img {
    display: block;
    z-index: 1;
    width: 36px;
    height: 36px;
    margin-left: 100px;
    margin-top: 22px;
  }
  header .logo label {
    display: none;
  }
  header #btnmenu ~ .menulist {
    display: block;
  }
  header #btnmenu:checked ~ .menulist {
    display: block;
  }
  header #btnmenu:checked ~ div #equis {
    display: none;
  }
  header #btnmenu:checked ~ div #hamburguesa {
    display: none;
  }
  header #btnmenu ~ div #equis {
    display: none;
  }
  header #btnmenu ~ div #hamburguesa {
    display: none;
  }
  header .menulist {
    background-color: #FFFFFF;
  }
  header .menulist ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
  }
  header .menulist ul a:first-child {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding-left: 20px;
  }
  header .menulist ul a {
    display: block;
    color: #060A24;
    font-family: 'IBM Plex Mono';
    font-size: 16px;
    letter-spacing: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 28px;
    padding-top: 24px;
    padding-left: 20px;
    margin: 0;
    text-decoration: none;
  }
  header .menulist ul a:last-child {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 24px;
    padding-left: 20px;
    margin-right: 100px;
  }
}

main {
  width: 100%;
  margin: 0;
}

main .hello {
  margin-left: 16px;
  margin-right: 16px;
}

main .hello h1 {
  margin-right: 40px;
  font-family: 'IBM Plex Sans';
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 400;
}

main .hello h1 span {
  text-decoration: line-through;
}

main .hello p {
  font-family: 'IBM Plex Mono';
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
  text-align: justify;
}

main .hello button {
  width: 100%;
  height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #060A24;
  background-color: #00F3BB;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  border: 0;
}

main .hello button:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: #FFFFFF;
  border: 0;
}

main .episodios {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 0.4fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.4fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 1203.5px;
}

main .episodios h2 {
  font-family: 'IBM Plex Sans';
  font-size: 36px;
  font-weight: 350;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 42px;
  z-index: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

main .episodios iframe {
  /*transform: skewY(5deg);
            margin-left:11px;
            margin-right: 11px;*/
  width: 95%;
  border: none;
  border-radius: 10px;
  height: 232px;
  margin-left: 4%;
  margin-right: 4%;
  z-index: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

main .episodios::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
}

main .phone img {
  height: 243px;
  width: 320px;
}

main .collage {
  display: block;
  width: 100%;
}

main .collage div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

main .collage div img {
  width: 100%;
}

main .novedades button {
  width: 100%;
  height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #060A24;
  background-color: #00F3BB;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  border: 0;
}

main .novedades button:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: #FFFFFF;
  border: 0;
}

/*Importa Fuente */
/*# sourceMappingURL=styles.css.map */